.content-visible{
    visibility: visible;
}
.content-hidden{
    visibility: hidden;
}
.card-flipped{
    background-color: #40d674;
}
.card-incorrect{
    background-color: red;
}
.fa-flipped{
    display: inline-block;
}
.win{
    border: 3px solid #25c4ff;
}