/*Javascript dynamically assigned css styles*/

.content-visible {
    visibility: visible;
}

.content-hidden {
    visibility: hidden;
}

.card-flipped {
    background-color: #40d674;
}

.card-incorrect {
    background-color: red;
}

.fa-flipped {
    display: inline-block;
}
