img,
embed,
object,
video {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span{
    font-family: "Montserrat", serif;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
    background: url(../img/patterns/geometry.png);
}
header{
    flex-direction: column;
    margin: 20px 0;
}
h1{
    font-size: 40px;
}
.info{
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    min-width: 300px;
}
.stars{
    justify-content: flex-start;
    width: 45px;
    height: 15px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}
.reset{
    font-size: 20px;
}
.reset:hover{
    color: #4bb0b9;
    cursor: pointer;
}
.main{
    width: 100%;
    align-content: flex-start;
    flex-direction: column;
}
.game{
    padding: 15px;
    border-radius: 15px;
    width: 600px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    background: linear-gradient(120deg, #8df4dc 26.3%, #00e2ff 100%);
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 10px 10px 20px lightgrey;
}
#startGame{
    font-size: 35px;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 10px 10px 20px lightgrey;
}
#startGame:hover{
    color: #4bb0b9;
    cursor: pointer;
    border: 2px solid #4bb0b9;
}
.card{
    margin: 3px;
    border-radius: 15px;
    border: 3px solid white;
    background-color: #353b37;
    width: 22%;
    height: 22%;
}
.fa-custom{
    display: none;
    font-size: 40px;
    color: white;
}

/*Winning screen*/


.victory{
    visibility: hidden;
    top: 0;
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.stats{
    background-color: white;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    flex-direction: column;
}
